<div>
    <div class="container-fluid">
        <h2>Create a new quote by filling this form</h2>
        <form (ngSubmit) = 'submitQuote()' #goalForm='ngForm'>
            <div class="form-group">
      
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" [(ngModel)]="newQuote.name" name="name" #name='ngModel' required>
                <div [hidden]="name.valid || name.pristine">
                  <p style="color: red;">Name of publisher is required</p>
                </div>
            </div>
            <div class="form-group">
      
                <label for="Quote">Quote</label>
                <textarea class="form-control" id="quote" rows="4" [(ngModel)]="newQuote.quote" name="description" #quote="ngModel" required></textarea>
                <div [hidden]="quote.valid || quote.pristine">
                  <p style="color: red;">Quote is required</p>
                </div>
            </div>
            <div class="form-group">
      
                <label for="author">Author</label>
                <input type="text" class="form-control" id="author" rows="4" [(ngModel)]="newQuote.author" name="author" #author="ngModel" required>
                <div [hidden]="author.valid || author.pristine">
                  <p style="color: red;">Author is required</p>
                </div>
            </div>
            <div class="form-group">
      
                <label for="Date" >Date Published</label>
                <input type='date' id="date" [(ngModel)]="newQuote.publishDate" name="publishDate" #date="ngModel" required>
                <div [hidden]="date.valid || date.pristine" class="alert alert-danger">
                  <p>Date published is required is required</p>
                </div>
            </div>
            <button type="submit" class="btn btn-success mt-3" >Submit Quote</button>
        </form>
      </div>
</div>
