<div>
    <div class="container-fluid">
        <h2>Create a new quote by filling this form</h2>
        <form (ngSubmit) = 'submitQuote()' #quoteForm='ngForm'>
            <div class="form-group">
      
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" [(ngModel)]="newQuote.name" name="name" #name='ngModel' placeholder="Enter your name" required>
            </div>
            <div class="form-group">
      
                <label for="Quote">Quote</label>
                <textarea class="form-control" id="quote" rows="4" [(ngModel)]="newQuote.quote" name="quote" #quote="ngModel" placeholder="Enter quote to publish" required></textarea>
            </div>
            <div class="form-group">
      
                <label for="author">Author</label>
                <input type="text" class="form-control" id="author" rows="4" [(ngModel)]="newQuote.author" name="author" #author="ngModel" placeholder="Enter name of author" required>
            </div>
    
            <button type="submit" class="btn btn-success mt-3">Submit Quote</button>
        </form>
      </div>
</div>
